

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    font-family: 'PT Sans', sans-serif;
}

.main-container {
  margin-top: 30px;
}

.wrapper {
    width: 90%;
    margin: 50px auto 0;
    text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 90%;
  max-width: 195px;
  margin: 0 auto;
  text-align: center;
}

h1 img {
  width: 100%;

}

h1 + p {
  margin-bottom: 10px;
  color: #484848;
}
